<!DOCTYPE html>
<html ng-app="Paathai">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->

  <title>Paathai</title>

  <!-- Material Icons/Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="css/framework7.material.css">
  <link rel="stylesheet" href="css/framework7.material.colors.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Scripts -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angularCookies.js"></script>
  <script type="text/javascript" src="js/angularcookieWriter.js"></script>
  <script type="text/javascript" src="js/framework7.js"></script>
  <script type="text/javascript" src="js/config.js"></script>
  <script type="text/javascript" src="js/service/InitService.js"></script>
  <script type="text/javascript" src="js/service/DataService.js"></script>
  <script type="text/javascript" src="js/controller/ViewController.js"></script>
  <script type="text/javascript" src="js/controller/IndexPageController.js"></script>
  <script type="text/javascript" src="js/controller/LoginPageController.js"></script>
  <script type="text/javascript" src="js/controller/SearchPageController.js"></script>
  <script type="text/javascript" src="js/controller/CategoryPageController.js"></script>
  <script type="text/javascript" src="js/controller/PlacePageController.js"></script>
  <script type="text/javascript" src="js/controller/TripPageController.js"></script>
  <!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> -->

</head>
<body>
  <div class="statusbar-overlay"></div>
  <div class="panel-overlay"></div>
  <div class="views">
    <div class="view view-main" ng-controller="ViewController">
      <div class="pages">
        <div data-page="index" class="page" ng-controller="IndexPageController">
          <div class="page-content">
            <div data-pagination=".swiper-pagination" data-paginationHide="true" class="swiper-container swiper-bg ks-slider">
              <div class="swiper-wrapper landing-page">
                <div class="swiper-slide landing-page-title">
                  <div class="content-block">
                    <div class="row">
                      <div class="col-100">
                        <a href="#login" class="button button-big button-raised button-fill color-pink open-login-screen">Start your Ride</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-page="login" class="page cached theme-pink toolbar-fixed" ng-controller="LoginPageController">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left"><a href="#index" class="back link icon-only"><i class="icon icon-back"></i></a></div>
              <div class="center">Login</div>
            </div>
          </div>
          <div class="page-content">
            <div class="content-block">
              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="material-icons">perm_identity</i></div>
                      <div class="item-inner"> 
                        <div class="item-title floating-label">User Name</div>
                        <div class="item-input">
                          <input type="text" placeholder=""/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="material-icons">fingerprint</i></div>
                      <div class="item-inner"> 
                        <div class="item-title floating-label">Password</div>
                        <div class="item-input">
                          <input type="text" placeholder=""/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content-block"><a href="#search" class="button button-big button-raised button-fill color-pink">Sign In</a></div>
          </div>
        </div>

        <div data-page="search" class="page cached theme-pink toolbar-fixed" ng-controller="SearchPageController">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left"><a href="#index" class="back link icon-only"><i class="icon icon-back"></i></a></div>
              <div class="center">Find Trip</div>
              <div class="right"><a href="#" class="back link icon-only"><i class="material-icons">search</i></a></div>
            </div>
          </div>

          <div class="page-content">
            <div class="content-block">
              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title floating-label">Your Location</div>
                        <div class="item-input">
                          <input type="text" id="source" ng-blur="validateTrip()" autocomplete="on" placeholder="" ng-model="location"/>
                        </div>
                      </div>
                      <div class="item-media"><i class="material-icons">my_location</i></div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title floating-label">Destination</div>
                        <div class="item-input">
                          <input type="text" id="destination" ng-blur="validateTrip()" autocomplete="on" placeholder="" ng-model="destination"/>
                        </div>
                      </div>
                      <div class="item-media"><i class="material-icons">place</i></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content-block"><a href="#trip-type" ng-disabled="isNotaValidTrip" class="button button-big button-raised button-fill color-pink">Find Trip</a></div>
          </div>
        </div>

        <div data-page="trip-type" class="page cached theme-pink toolbar-fixed trip-type" ng-controller="TripPageController">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left"><a href="#index" class="back link icon-only"><i class="icon icon-back"></i></a></div>
              <div class="center">Choose your Mode</div>
            </div>
          </div>
          <div class="page-content">
              <div class="content-block">
              <div class="row">
                  <div class="col-50 text-center block">
                      <img src="img/scooter.png"/><br/>
                      <span>Scooter</span>
                  </div>
                  <div class="col-50 text-center block">
                      <img src="img/car.png"/><br/>
                      <span>Taxi</span>
                  </div>
              </div>
            </div>
            <div class="content-block">
              <div class="row">
                  <div class="col-50 text-center block">
                      <img src="img/bus.png"/><br/>
                      <span>Bus</span>
                  </div>
                  <div class="col-50 text-center block">
                      <img src="img/train.png"/><br/>
                      <span>Train</span>
                  </div>
              </div>
            </div>
            <div class="content-block">
              <div class="row">
                  <div class="col-50 text-center block">
                      <img src="img/aeroplane.png"/><br/>
                      <span>Flight</span>
                  </div>
              </div>
            </div>
          </div>
        </div>

        

        <!-- <div data-page="category" class="page cached theme-pink toolbar-fixed" ng-controller="CategoryPageController">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left"><a href="#index" class="back link icon-only"><i class="icon icon-back"></i></a></div>
              <div class="center">Choose your category</div>
            </div>
          </div>

          <div class="page-content">
            <div class="list-block">
              <ul>
                <li>
                  <label class="label-radio item-content">
                    <input type="radio" ng-model="category" ng-change="selectCategory()" name="ks-media-radio" value="Couple"/>
                    <div class="item-media"><i class="material-icons">motorcycle</i></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Couple</div>
                      </div>
                    </div>
                    <div class="item-after"><i class="icon-form-radio"></i></div>
                  </label>
                </li>
                <li>
                  <label class="label-radio item-content">
                    <input type="radio" ng-model="category" ng-change="selectCategory()" name="ks-media-radio" value="Friends"/>
                    <div class="item-media"><i class="material-icons">directions_car</i></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Friends</div>
                      </div>
                    </div>
                    <div class="item-after"><i class="icon-form-radio"></i></div>
                  </label>
                </li>
                <li>
                  <label class="label-radio item-content">
                    <input type="radio" ng-model="category" ng-change="selectCategory()" name="ks-media-radio" value="Family"/>
                    <div class="item-media"><i class="material-icons">directions_bus</i></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Family</div>
                      </div>
                    </div>
                    <div class="item-after"><i class="icon-form-radio"></i></div>
                  </label>
                </li>
                <li>
                  <label class="label-radio item-content">
                    <input type="radio" ng-model="category" ng-change="selectCategory()" name="ks-media-radio" value="Solo"/>
                    <div class="item-media"><i class="material-icons">directions_bike</i></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Solo</div>
                      </div>
                    </div>
                    <div class="item-after"><i class="icon-form-radio"></i></div>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div data-page="place" class="page cached theme-pink toolbar-fixed" ng-controller="PlacePageController">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left"><a href="#index" class="back link icon-only"><i class="icon icon-back"></i></a></div>
              <div class="center">Choose your Destination</div>
            </div>
          </div>

          <div class="page-content">
            <div class="list-block media-list">
              <ul>
                <li>
                  <a href="#trip" class="item-link item-content">
                    <div class="item-media"><img src="http://lorempixel.com/160/160/people/1" width="80"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Yellow Submarine</div>
                        <div class="item-after">$15</div>
                      </div>
                      <div class="item-subtitle">Beatles</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#trip" class="item-link item-content">
                    <div class="item-media"><img src="http://lorempixel.com/160/160/people/1" width="80"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Yellow Submarine</div>
                        <div class="item-after">$15</div>
                      </div>
                      <div class="item-subtitle">Beatles</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#trip" class="item-link item-content">
                    <div class="item-media"><img src="http://lorempixel.com/160/160/people/1" width="80"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Yellow Submarine</div>
                        <div class="item-after">$15</div>
                      </div>
                      <div class="item-subtitle">Beatles</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div data-page="trip" class="page cached theme-pink" ng-controller="TripPageController">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left"><a href="#index" class="back link icon-only"><i class="icon icon-back"></i></a></div>
              <div class="center">Choose your Destination</div>
            </div>
          </div>
          <div class="page-content">
              <div class="card ks-card-header-pic">
                <div style="background-image:url(http://lorempixel.com/1000/600/nature/3/)" valign="bottom" class="card-header color-white no-border">
                  Journey To Mountains
                  <a href="#" class="floating-button"><i class="icon icon-plus"></i><i class="icon icon-close"></i></a>
                </div>
                  <div class="card-content-inner"> 
                    <p class="color-gray">Couples</p>
                  </div>
                </div>
              </div>
          </div>
        </div>-->

      </div>
    </div>
  </div>
</body>
</html>